@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

* {
  margin: 0;
  font-family: "Nunito";
}

.container-timetable colums {
  color: #1890ff;
  color: #525252;
}

/* login page */
.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.title {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
}
.logo {
  height: 32px;
  margin: 16px;
  font-size: large;
  color: #fff;
  text-align: center;
}

.site-layout .site-layout-background {
  background: #fff;
}

.fabBtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 999;
}
